.apply-container {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    user-select: none;
    text-align: center;
}

.apply-title {
    font-family: custard;
    font-size: 2.75rem;
    background-color: #B62D5D;
    font-weight: bold;
    color: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

.apply-title:hover {
    opacity: 0.8;
    transition: 0.2s ease;
}